
* {
  box-sizing: border-box;
}

header {
  color: white;
  background-color: black;
}
body {
  margin: 0;
  font-family: Arial;
  font-size: 20px;
  background-color: rgb(253,253,246);

}

.nav-link:hover{
  color: #33b3a6 !important;
}


.header {
  text-align: center;
  padding: 32px;
}

footer {
  text-align: center;
  padding: 30px;
  /* background-color: #33b3a6; */
  /* background-color: #ff8c69; */
  /* background-color: #c8c8ef; */
  color: white;
  background-color: black;
  width: 100%;
  height: 250px;
}


/* Add padding BETWEEN each column */
/* .row,
.row > .column {
  padding: 8px;
} */

.row {
  /* display: flex; */
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create three equal columns that floats next to each other */
.column {
  /* flex: 33.33%; */
  float: left;
  width: 33.33%;
  padding: 15px 25px 0px ;
}

.column img {
  /* margin-top: 12px; */
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
  /* float: left; */
  /* object-fit: cover; */
  width: 100%;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.InteractiveBar-bar {
    /* color: rgb(255, 247, 204);  */
    /* height: 70px;
    line-height: 50px; */
    width: 700px;
    border: 1px outset rgb(251, 251, 251);
    border-radius: 5px;
    box-shadow: 0px 1px #888888;
    background-color: white;
    /* text-align: center; */
    padding: 20px;
    margin: 20px;
}

.InteractiveBar {

}

.InteractiveBar-btn {
    /* width: 700px; */
    border: 1px outset rgb(251, 251, 251);
    border-radius: 5px;
    box-shadow: 0px 1px #888888;
    background-color: white;
    /* text-align: center; */
    padding: 20px;
    margin: 20px;
}

#gridlayout {
  padding: 40px;
  background-color: white;
  margin: 0 auto;
  width: 70%;
}

.img-wrap{
  height:20px;
   /* adjust the padding to change the aspect ratio of the div */
  padding-bottom:60%;
}
/* Container needed to position the overlay. Adjust the width as needed */
#container_1 {
  position: relative;
  width:100%;
  margin-top: 12px;
  opacity: 1;
}

#container_1:hover {
  /* opacity: 1; */
  filter: brightness(70%);
}


/* When you mouse over the container, fade in the overlay title */
/* html:hover .overlay {
  opacity: 1;
} */

/* Bottom right text */
/* .text-block {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding: 12px;
  text-align: center;
  width: 100%;
} */


.zoom {
  /* padding: 50px; */
  /* background-color: green; */
  transition: transform .2s;
  /* width: 200px; */
  /* height: 200px; */
  /* margin: 0 auto; */
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}


.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  /* height: 10000px; */
}


#about_image {
  border: 4px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 50%;
}

/* used for about me photo  */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#container_2 {
  background-color: black;
  width: 100%;
  padding: 50px;
  text-align: center;
  height: 150px;
  border: 3px solid black;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  background: rgb(0, 0, 0);
}


#widget_container {
  margin-top:12px;
}



/* Goodreads widget */
  #customize-list{
    float:left;
    margin-left:20px;
    list-style:none;
  }
  #gr_updates_widget{
  float:left;
  border-radius: 5px;
  background-color:#fff;
  border:solid #683205 10px;
  -webkit-box-shadow: 0px 0px 4px 1px #595959,
  inset 0px 0px 0px 1px #7D730B;
  -moz-box-shadow: 0px 0px 4px 1px #595959,
  inset 0px 0px 0px 1px #7D730B;
  box-shadow: 0px 0px 4px 1px #595959,
  inset 0px 0px 0px 1px #7D730B;
  padding:15px 0 0px 15px;
  width:100%;
  height:385px;
  margin-top:12px
  }
  #gr_footer{
  margin-bottom:0px;
  height:30px;
  }
  #gr_updates_widget p{
  padding:0px;
  margin:0;
  font-size:14px;
  }
  #gr_footer img{
  width:100px;
  float:left;
  }


  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }





  .navbar {
    /* border:4px solid #dcdcc6; */
    /* border:4px solid #ff8c69; */
    border-left: 0px solid;
    border-right: 0px solid;
    color: white;

    background-color: black;
    font-size: 25px;
  }


  /* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  /* border: 2px solid; */
  padding: 12px 12px;
  margin: 0px 1px 0px 2px;
  background-color: white;
  /* background: none; */
  cursor: pointer;
  font-size: 16px;
  /* border-color: #d8f8f5; */
}
.btn:hover {
  background-color: #d8f8f5;
}

button:active {
  background-color: #d8f8f5;
}
button:focus{
    background:#d8f8f5;
}
/* #26867c */

#portfolio_labels {
  /* border:2px solid #40E0D0; */
  background-color: white;
  font-size: 25px;
  /* border-bottom: 0px solid; */
  width: 750px;
  margin: 20px;
  /* box-shadow: 0 4px 8px 0 #d8f8f5, 0 6px 20px 0 #d8f8f5; */
}


#to_pointer{
  cursor:pointer;
}

#project_links{
  /* float:left; */
  display: inline-block;
  margin-right: 20px; /* or whatever */
  text-align: center;
}


#footer_links{
  /* float:left; */
  display: inline-block;
  margin-right: 20px; /* or whatever */
  text-align: center;
  color: black;
}


.project_link:hover{
  color: #33b3a6;
}

.footer_link:hover{
  color: #33b3a6;
}

.project_link:hover, .footer_link:hover  {
   animation: bounce 1.5s infinite; /*other browsers*/
   -webkit-animation: bounce 1.5s infinite; /*webkit browsers*/
   -moz-animation: bounce 1.5s infinite; /*firefox*/
   -o-animation: bounce 1.5s infinite; /*opera*/
}



/* @-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
   40% {-webkit-transform: translateY(-15px);}
   60% {-webkit-transform: translateY(-10px);}
}

@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
   40% {transform: translateY(-15px);}
   60% {transform: translateY(-10px);}
}

.bounce {
   -webkit-animation-name: bounce;
   animation-name: bounce;
} */

#overview {
  padding: 0px 180px 0px 180px;
}
#lighter{
  display: inline-block;
  color: grey;
}

#overview p {
  display: inline-block;
  width: 30%;
  position: relative;
  padding-right: 5px; /* Ensures colon does not overlay the text */
}

#overview p::after {
  color: grey;
  content: ":";
  position: absolute;
  right: 5px;
}


#twitter-border {
  border: 3px solid #33b3a6;
  border-top: 0px;
  border-bottom: 0px;
  /* border-radius: 20px; */
  padding: 5px;
  /* width: 70px; */
}




.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  /* height: 100px; */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
