
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 20px;

}


.header {
  text-align: center;
  padding: 32px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 16px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}



/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


#gridlayout {
  padding: 30px;
  background-color: white;
  margin: 0 auto;
}


/* Container needed to position the overlay. Adjust the width as needed */
#container_1 {
  /* background-color: green; */
  position: relative;
  width:100%;
  margin-top: 12px;
  /* max-width: 300px; */
}

/* When you mouse over the container, fade in the overlay title */
html:hover .overlay {
  opacity: 1;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 0px;
  /* right: 20px; */
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding: 12px;
  text-align: center;
  width: 100%;
}


.zoom {
  /* padding: 50px; */
  /* background-color: green; */
  transition: transform .2s;
  /* width: 200px; */
  /* height: 200px; */
  /* margin: 0 auto; */
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}


.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


#about_image {
  border: 4px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 450px;
}

/* used for about me photo  */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#container_2 {
  background-color: black;
  width: 100%;
  padding: 50px;
  text-align: center;
  height: 150px;
  border: 3px solid black;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  background: rgb(0, 0, 0);
}


#widget_container {
  margin-top:12px;
}



/* Goodreads widget */
  #customize-list{
    float:left;
    margin-left:20px;
    list-style:none;
  }
  #gr_updates_widget{
  float:left;
  border-radius: 5px;
  background-color:#fff;
  border:solid #683205 10px;
  -webkit-box-shadow: 0px 0px 4px 1px #595959,
  inset 0px 0px 0px 1px #7D730B;
  -moz-box-shadow: 0px 0px 4px 1px #595959,
  inset 0px 0px 0px 1px #7D730B;
  box-shadow: 0px 0px 4px 1px #595959,
  inset 0px 0px 0px 1px #7D730B;
  padding:15px 0 0px 15px;
  width:100%;
  height:385px;
  margin-top:12px
  }
  #gr_footer{
  margin-bottom:0px;
  height:30px;
  }
  #gr_updates_widget p{
  padding:0px;
  margin:0;
  font-size:14px;
  }
  #gr_footer img{
  width:100px;
  float:left;
  }
